## Q1. List any five functions of the pandas library with execution.

 here are five common functions of the Pandas library with examples:
 1. here are five common functions of the Pandas library with examples:

import pandas as pd

# read CSV file into a DataFrame
df = pd.read_csv('data.csv')

# display the first few rows of the DataFrame
print(df.head())

2. groupby() - This function is used to group rows of a DataFrame based on the values in one or more columns, and then apply a function to each group.

import pandas as pd

read CSV file into a DataFrame
df = pd.read_csv('data.csv')

group the DataFrame by the 'Category' column and calculate the mean of the 'Value' column for each group
grouped = df.groupby('Category')['Value'].mean()

display the resulting Series
print(grouped)

3. fillna() - This function is used to fill missing values in a DataFrame with a specified value or method

In [2]:
import pandas as pd
import numpy as np

# create a DataFrame with missing values
df = pd.DataFrame({'A': [1, 2, np.nan, 4], 'B': [5, np.nan, np.nan, 8]})

# fill missing values with the mean of each column
df.fillna(df.mean(), inplace=True)

# display the resulting DataFrame
print(df)

          A    B
0  1.000000  5.0
1  2.000000  6.5
2  2.333333  6.5
3  4.000000  8.0

4. merge() - This function is used to merge two DataFrames based on a common column or index.

In [3]:
import pandas as pd

# create two DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['B', 'C', 'D'], 'value': [4, 5, 6]})

# merge the two DataFrames based on the 'key' column
merged = pd.merge(df1, df2, on='key')

# display the resulting DataFrame
print(merged)

  key  value_x  value_y
0   B        2        4
1   C        3        5

5. pivot_table() - This function is used to create a pivot table from a DataFrame, which is a summary table that displays the relationship between two or more columns.

import pandas as pd

read CSV file into a DataFrame
df = pd.read_csv('data.csv')

create a pivot table that shows the mean value for each combination of 'Category' and 'Year'
pivot = pd.pivot_table(df, values='Value', index='Category', columns='Year', aggfunc='mean')

display the resulting DataFrame
print(pivot)

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the## DataFrame with a new index that starts from 1 and increments by 2 for each row.

import pandas as pd

def newindex_df(df):
    new_index = range(1, len(df)*2, 2) 
    return df.reset_index(drop=True).reindex(new_index) 
new_df = reindex_df(df)

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [5]:
import pandas as pd
df = pd.DataFrame({"Values":[10, 20, 30, 40, 50]})
def calculate_sum(df):
    values_sum = 0
    for i, row in df.iterrows():
        if i < 3:
            values_sum += row['Values']
        else:
            break
    print(f"The sum of the first three values is {values_sum}.")
calculate_sum(df)

The sum of the first three values is 60.

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [6]:
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))  # use apply method and lambda function to split each row and count words

### Q5. How are DataFrame.size() and DataFrame.shape() different?

In Pandas, DataFrame.size and DataFrame.shape are both methods that provide information about the dimensions of a DataFrame, but they return different values.

DataFrame.size returns the total number of elements in a DataFrame, which is equal to the product of the number of rows and the number of columns. For example, if a DataFrame has 5 rows and 3 columns, its size method would return 15.

DataFrame.shape returns a tuple containing the number of rows and columns in a DataFrame. For example, if a DataFrame has 5 rows and 3 columns, its shape method would return (5, 3).

### Q6. Which function of pandas do we use to read an excel file?

Function used to read Excel File in Pandas is "pd.read_excel()"

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

import pandas as pd 
def username(df):
    df["Username"]=df['Email'].apply(lambda x :x.split("@")[0] )
username(df)

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [8]:
import pandas as pd 
df = pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,4,5,7,2]})

In [9]:
df

   A  B  C
0  3  5  1
1  8  2  4
2  6  9  5
3  2  3  7
4  9  1  2

In [10]:
import pandas as pd

def select_rows(df):
    new_df = df[(df['A'] > 5) & (df['B'] < 10)]  # use boolean indexing to select rows where A > 5 and B < 10
    return new_df

In [11]:
df = pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,4,5,7,2]})  
new_df = select_rows(df)  
print(new_df)

   A  B  C
1  8  2  4
2  6  9  5
4  9  1  2